@define-color red       #f44747;
@define-color red-rgb   rgb(244, 71, 71);
@define-color rosewater #f5e0dc;
@define-color flamingo  #cf1020;
@define-color pink      #f5c2e7;
@define-color mauve     #9932cc;
@define-color maroon    #aa0000;
@define-color peach     #daa520;
@define-color yellow    #fffd37;
@define-color green     #03c04a;
@define-color teal      #4b8d75;
@define-color sky       #4ac8ff;
@define-color sapphire  #346bc0;
@define-color blue      #346bc0;
@define-color lavender  #cdd6f4;
@define-color text      #cdd6f4;
@define-color subtext1  #a6adc8;
@define-color subtext0  #7f849c;
@define-color overlay2  #7f849c;
@define-color overlay1  #6c7086;
@define-color overlay0  #585b70;
@define-color surface2  #585b70;
@define-color surface1  #45475a;
@define-color surface0  #313244;
@define-color base      #1e1e2e;
@define-color mantle    #181825;
@define-color crust     #11111b;

* {
  font-family: 'CaskaydiaCove Nerd Font', monospace;
  font-size: 18px;
}

/* Window */
window {
  margin: 0px;
  padding: 10px;
  border: 2px solid @mauve;
  border-radius: 8px;
  background-color: @base;
}

/* Inner Box */
#inner-box {
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: @base;
}

/* Outer Box */
#outer-box {
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: @base;
}

/* Scroll */
#scroll {
  margin: 0px;
  padding: 10px;
  border: none;
  background-color: @base;
}

/* Input */
#input {
  margin: 5px 20px;
  padding: 10px;
  border: none;
  border-radius: 0.1em;
  color: @text;
  background-color: @base;
}

#input image {
  border: none;
  color: @red;
}

#input * {
  outline: 4px solid @red !important;
}

/* Text */
#text {
  margin: 5px;
  border: none;
  color: @text;
}

#entry {
  background-color: @base;
}

#entry arrow {
  border: none;
  color: @lavender;
}

/* Selected Entry */
#entry:selected {
  border: 0.11em solid @lavender;
}

#entry:selected #text {
  color: @mauve;
}

#entry:drop(active) {
  background-color: @lavender !important;
}
